<div>
	<h1><%=blog.title%></h1>
	<img src="<%=blog.image%>">
	<span><%=blog.date.toDateString()%></span>
	<p><%-blog.body%></p>
	<a href="/blogs/<%=blog._id%>/edit">Edit</a>
	<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
		<button>Delete</button>
	</form>
</div>